{{if .IsSingleFile}}
import { AxiosInstance } from 'axios';
import { config, apiClient } from './config';
import { {{.TypeImports}} } from './types';

export class ApiClient {
  private client: AxiosInstance;

  constructor() {
    this.client = apiClient;
  }

{{range .Methods}}
  /**
   * @description {{.Description}}
   * @tags {{.Tags}}
   * @name {{.Name}}
   * @summary {{.Summary}}
   * @request {{.HttpMethod}}:{{.Path}}
   */
  async {{.Name}}({{.Params}}): Promise<{{.ReturnType}}> {
    {{.MethodBody}}
  }
{{end}}
}
{{else}}
import { apiClient } from '../config';
{{if .HasTypes}}import { {{.TypeImports}} } from '../types';{{end}}

/**
 * @description {{.Description}}
 * @tags {{.Tags}}
 * @name {{.Name}}
 * @summary {{.Summary}}
 * @request {{.HttpMethod}}:{{.Path}}
 */
export async function {{.Name}}({{.Params}}): Promise<{{.ReturnType}}> {
  {{.MethodBody}}
}
{{end}}