// Generated API client index
export * from './config';
export * from './types';
{{if .IsSingleFile}}
export { ApiClient } from './api';
{{else}}
{{range .Exports}}
export { {{.}} } from './api/{{.}}';
{{end}}
{{end}}